.gradle
.DS_Store
.idea
*.iml
build
libs
*.gz
*.params
*.zip
*.jar
*.so
*.dylib
*.dll
*.class
*.pt
*.npy
*.csv

# Eclipse
.settings
.project
.classpath
bin/

# node
node_modules/

# vscode
.vscode

# dir
tests/integration/models/
engines/python/setup/djl_python/tests/resources*