.gradle
.DS_Store
.idea
*.iml
build
libs
*.gz
*.params
*.zip
*.jar
*.so
*.dylib
*.dll
*.class
*.pt
*.npy
*.csv
.kotlin

# Eclipse
.settings
.project
.classpath
bin/

# node
node_modules/

# vscode
.vscode

# dir
tests/integration/models/
tests/integration/sagemaker_test_results.txt
engines/python/setup/djl_python/tests/resources*

tests/integration/awscurl
#Python
__pycache__
dist/
*.egg-info/
*.pt

.kiro
venv