version: '3'
services:
  cpu:
    build:
      context: .
      target: base
      dockerfile: Dockerfile
    image: "deepjavalibrary/djl-serving:${BASE_RELEASE_VERSION:-cpu}${NIGHTLY}"
  cpu-full:
    build:
      context: .
      target: cpu-full
      dockerfile: Dockerfile
    image: "deepjavalibrary/djl-serving:${RELEASE_VERSION}cpu-full${NIGHTLY}"
  aarch64:
    build:
      context: .
      dockerfile: aarch64.Dockerfile
    image: "deepjavalibrary/djl-serving:${RELEASE_VERSION}aarch64${NIGHTLY}"
  deepspeed:
    build:
      context: .
      dockerfile: deepspeed.Dockerfile
    image: "deepjavalibrary/djl-serving:${RELEASE_VERSION}deepspeed${NIGHTLY}"
  pytorch-cu118:
    build:
      context: .
      target: base
      dockerfile: pytorch-cu118.Dockerfile
    image: "deepjavalibrary/djl-serving:${RELEASE_VERSION}pytorch-cu118${NIGHTLY}"
  fastertransformer:
    build:
      context: .
      dockerfile: fastertransformer.Dockerfile
    image: "deepjavalibrary/djl-serving:${RELEASE_VERSION}fastertransformer${NIGHTLY}"
  pytorch-inf2:
    build:
      context: .
      dockerfile: pytorch-inf2.Dockerfile
    image: "deepjavalibrary/djl-serving:${RELEASE_VERSION}pytorch-inf2${NIGHTLY}"
