peft==0.13.2
protobuf==3.20.3
transformers==4.48.0
hf-transfer
zstandard
datasets==3.0.1
mpi4py
sentencepiece
tiktoken
blobfile
einops
accelerate==1.0.1
bitsandbytes==0.44.1
auto-gptq==0.7.1
pandas
pyarrow
jinja2
retrying
opencv-contrib-python-headless
safetensors
scipy
onnx
sentence_transformers
onnxruntime-gpu==1.20.0
autoawq==0.2.5
tokenizers==0.20.3
pydantic==2.9.2
optimum==1.23.2
torch==2.5.1
torchvision==0.20.1
# sequence scheduler wheel for hf accelerate rolling batch
https://publish.djl.ai/seq_scheduler/seq_scheduler-0.1.0-py3-none-any.whl
