torch==2.9.0
autoawq
torchvision
peft==0.15.1
protobuf==4.25.1
transformers==4.57.1
hf-transfer
zstandard
datasets==3.0.1
mpi4py
sentencepiece
tiktoken
blobfile
einops
accelerate==1.0.1
bitsandbytes
pandas
pyarrow
jinja2
retrying
opencv-contrib-python-headless
safetensors
scipy==1.16.0
onnx==1.19.0
sentence_transformers
onnxruntime-gpu==1.20.0
autoawq
tokenizers
pydantic>=2.12.0
optimum==1.23.2
uvloop
ninja
peft
llmcompressor
https://vllm-wheels.s3.us-west-2.amazonaws.com/93103575ce0480f36fc1a3603eb51d9a89f38a00/vllm-1.0.0.dev-cp38-abi3-manylinux1_x86_64.whl
xgrammar
flashinfer-python==0.5.2
lmcache