--extra-index-url https://download.pytorch.org/whl/cu129
torch==2.11.0
torchvision==0.26.0
transformers >= 4.56.0, < 5
huggingface-hub
hf-transfer
peft==0.18.1
sentence-transformers==5.2.3
optimum==2.1.0
mpi4py==4.1.1
compressed-tensors==0.14.0.1
vllm @ https://wheels.vllm.ai/0d310ffbebe588972fb57b84b3ce564c0222ef4e/vllm-0.19.1rc1.dev152%2Bg0d310ffbe-cp38-abi3-manylinux_2_31_x86_64.whl
autoawq==0.2.9
lmcache==0.4.3