torch==2.10.0
transformers >= 4.56.0, < 5
huggingface-hub
hf-transfer
peft==0.18.1
sentence-transformers==5.2.3
optimum==2.1.0
mpi4py==4.1.1
compressed-tensors==0.13.0
vllm==0.18.0
autoawq==0.2.9
https://publish.djl.ai/lmcache/lmcache-0.3.16.dev0-cp312-cp312-linux_x86_64.whl