ninja==1.11.1.3
peft==0.14.0
llmcompressor
vllm==0.7.3
https://github.com/flashinfer-ai/flashinfer/releases/download/v0.2.0.post2/flashinfer_python-0.2.0.post2+cu124torch2.5-cp311-cp311-linux_x86_64.whl
