peft==0.13.2
llmcompressor
# flash infer kernels for vllm/lmi-dist
https://github.com/flashinfer-ai/flashinfer/releases/download/v0.1.6/flashinfer-0.1.6+cu124torch2.4-cp311-cp311-linux_x86_64.whl
# vllm wheel built with pt2.5.1
https://publish.djl.ai/vllm/cu124-pt251/vllm-0.6.3.post1%2Bcu124-cp311-cp311-linux_x86_64.whl
# lmi dist wheel
./wheels/lmi_dist-13.0.0-cp311-cp311-linux_x86_64.whl
# fast model loader
./wheels/sagemaker_fast_model_loader-0.1.0-cp311-cp311-linux_x86_64.whl
